.dashboard {
    background: #F8F8FB;
}

.dashboard-header {
    height: 70px;
    background: #fff;
}

.dashboard-footer {
    background: #F2F2F5;
    height: 60px;
    width: calc(100% - 252px);
    margin-left: 252px;
}

.menu {
    height: 100vh;
    width: 252px;
    background: #fff;
    margin-bottom: -60px;
}